<app-filter
  [maxHeight]="'none'"
  [title]="'timePeriod' | translate"
  [icon]="'assets/ui/svg/time.svg'"
  [isActive]="time.isActive()"
>
  <div class="slider-container">
    <mat-slider
      #slider
      [min]="time.DEFAULT_MIN_YEAR"
      [max]="time.DEFAULT_MAX_YEAR"
      step="1"
      [discrete]="true"
      [displayWith]="formatLabel"
      (input)="onSliderInput($event)"
      (mousedown)="onSlideStart()"
      (touchstart)="onSlideStart()"
    >
      <input
        [value]="time.minYear.value"
        matSliderStartThumb
        id="min-year-input"
      />
      <input
        [value]="time.maxYear.value"
        matSliderEndThumb
        id="max-year-input"
      />
    </mat-slider>
  </div>

  <div class="value-indicators">
    <input
      type="text"
      [value]="time.minYear.value"
      (input)="onManualMinYearInput($event)"
      class="min-year-input"
    />
    <input
      type="text"
      [value]="time.maxYear.value"
      (input)="onManualMaxYearInput($event)"
      class="max-year-input"
    />
  </div>
</app-filter>
