<app-filter
  [maxHeight]="'none'"
  [overflowY]="'hidden'"
  [title]="'timePeriod' | translate"
  [icon]="'assets/ui/svg/time.svg'"
>
  <div class="slider-container">
    <mat-slider
      [min]="time.DEFAULT_MIN_YEAR"
      [max]="time.DEFAULT_MAX_YEAR"
      step="1"
      [discrete]="true"
      [displayWith]="formatLabel"
      (input)="onSliderInput($event)"
    >
      <input
        [value]="time.minYear.value"
        matSliderStartThumb
        id="min-year-input"
      />
      <input
        [value]="time.maxYear.value"
        matSliderEndThumb
        id="max-year-input"
      />
    </mat-slider>
  </div>

  <div class="show-locations-without-date-container">
    <mat-checkbox
      [checked]="time.showLocationsWithoutDate.value"
      (change)="onToggleShowLocationsWithoutDate($event)"
    >
      <span>{{ "showLocationsWithoutDate" | translate }}</span>
    </mat-checkbox>
  </div>
</app-filter>
