.slider-container {
  padding-top: 2rem;
  padding-bottom: 0;
  padding-left: 1.5rem;
  padding-right: 3rem;
}

mat-slider {
  width: 100% !important;
}

.mdc-slider__value-indicator-text {
  white-space: nowrap;
}

.show-locations-without-date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  & input {
    height: 1rem;
    width: 1rem;
  }

  & label {
    font-size: 0.85rem;
    display: inline-block;
  }
}
