<?xml version='1.0' encoding='utf-8'?>
<widget id="com.utm.utrechttimemachine" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Utrecht Time Machine</name>
    <description>Utrecht Time Machine</description>
    <author email="info@utrechttimemachine.nl" href="https://utrechttimemachine.nl">
        Utrecht Time Machine Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <icon src="res/logo/logo.png" />

    <platform name="android">
      <preference name="AndroidWindowSplashScreenBackground" value="#fe003e" />
    </platform>

    <preference name="FadeSplashScreen" value="true"/>
</widget>
