@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@font-face {
  font-weight: 400;
  font-family: "Room";
  src: url("../ui/woff/room/room-400.woff") format("woff");
}
:root {
  --red: #fe003e;
  --sand: #f0ecea;
  --yellow: #ffff00;
  --yellow-light: #f5f56c;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  color: #000;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
a:focus {
  outline: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
img.node-image-preview {
  max-width: 200px;
  margin-top: 30px;
}
form {
  margin: 0;
  padding: 0;
}
input {
  -webkit-appearance: none;
}
input:focus {
  outline: none;
}
header {
  z-index: 100;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
footer {
  z-index: 100;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#drupal-live-announce {
  display: none !important;
}
div.ui-helper-hidden-accessible {
  display: none !important;
}
@media only screen and (min-width: 600px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1400px) {
  body {
    font-size: 16px;
  }
}
h1 {
  margin: 2rem 0;
  font-size: 2.2rem;
  line-height: 1em;
  font-weight: 400;
  font-family: "Room", serif;
  overflow-wrap: break-word;
}
h2 {
  margin: 2rem 0;
  font-size: 1.8rem;
  line-height: 1.2em;
  font-weight: 600;
}
h3 {
  margin: 1.4rem 0;
  font-size: 1.4rem;
  line-height: 1.3em;
  font-weight: 500;
}
h4 {
  margin: 1.4rem 0;
  font-size: 1.2rem;
  line-height: 1.3em;
  font-weight: 600;
}
div.section h1 {
  margin: 0 0 60px 0;
  font-size: 3rem;
  color: var(--red);
  text-align: center;
}
p {
  margin: 1.2em 0;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: 400;
}
p.intro {
  margin: 1.8em 0 !important;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 500;
}
p strong {
  font-weight: 600;
}
p a {
  color: var(--red);
  text-decoration: underline;
}
p a:hover {
  color: #444;
}
p a.button {
  display: table;
  margin: 2rem 0;
  padding: 15px 20px;
  background: #000;
  border-radius: 4px;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color 120ms ease;
  transition: background-color 120ms ease;
}
p a.button:hover {
  background-color: #222;
}
@media only screen and (min-width: 600px) {
  div.section h1 {
    font-size: 3.6rem;
  }
}
@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.4em;
  }
  div.section h1 {
    font-size: 5rem;
  }
  p a.button {
    padding: 20px 30px;
  }
}
@media only screen and (min-width: 1400px) {
  h1 {
    font-size: 3.6em;
  }
  h2 {
    font-size: 2.6em;
  }
  div.section h1 {
    font-size: 6rem;
  }
}
.pad {
  padding-left: 20px;
  padding-right: 20px;
}
.pad.vertical {
  padding-top: 60px;
  padding-bottom: 60px;
}
.map-spin {
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
.map-spin > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border: 4px solid rgba(255, 255, 255, 0.4);
  border-top: 4px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  -webkit-animation: spin 1.2s infinite cubic-bezier(0.8, 0.4, 0.4, 0.8);
  animation: spin 1.2s infinite cubic-bezier(0.8, 0.4, 0.4, 0.8);
}
.map-spin.hide {
  opacity: 0;
  pointer-events: none;
}
.map-spin.hide > div {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.video-embed {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.video-embed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  border-radius: 8px;
  overflow: hidden;
}
.video-embed > div > iframe,
.video-embed > div > video {
  width: 100% !important;
  height: 100% !important;
  border: none;
}
.image-embed img {
  border-radius: 8px;
}
.screen-mode[data-mobile="0"] {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .pad {
    padding-left: 40px;
    padding-right: 40px;
  }
  .screen-mode[data-mobile] {
    display: none !important;
  }
  .screen-mode[data-mobile="0"] {
    display: block !important;
  }
}
@media only screen and (min-width: 1400px) {
  .pad {
    padding-left: 80px;
    padding-right: 80px;
  }
  .pad.vertical {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
div[data-drupal-messages] {
  background: var(--yellow-light);
}
div[data-drupal-messages] > div {
  padding: 12px 10px;
  text-align: center;
}
div[data-drupal-messages] > div ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
div[data-drupal-messages] > div a {
  color: inherit;
}
div.user-bar {
  background: var(--yellow-light);
}
div.user-bar #block-utm-local-tasks {
  margin: 0 -10px;
  overflow: hidden;
}
div.user-bar ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
div.user-bar ul > li {
  display: inline-block;
  float: left;
}
div.user-bar ul > li > a {
  display: block;
  padding: 12px 10px;
}
div.user-bar ul > li > a.is-active {
  font-weight: 500;
}
div.user-bar ul > li > a:not(.is-active):hover {
  text-decoration: underline;
}
.brand {
  display: table;
  min-height: 80px;
  background-image: url(../ui/svg/logo.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 80px;
}
.brand > div {
  display: table-cell;
  padding-top: 6px;
  padding-left: 50px;
  vertical-align: middle;
  font-family: "Room", serif;
  font-size: 1.8em;
  line-height: 1em;
  -webkit-user-select: none;
  user-select: none;
}
.brand.white {
  background-image: url("../ui/svg/logo-w.svg");
}
.brand.white > div {
  color: #fff;
}
.utm-footer {
  padding: 60px 0;
  background: var(--red);
}
.utm-footer ul {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
.utm-footer ul > li {
  display: block;
}
.utm-footer ul > li > a {
  display: block;
  padding: 4px 20px 4px 0;
  font-size: 1.2em;
  font-weight: 500;
  color: #000;
}
.utm-footer ul > li.menu-item--active-trail > a,
div.utm-footer ul > li > a.is-active {
  text-decoration: underline;
}
@media only screen and (min-width: 1000px) {
  .utm-footer ul > li {
    display: inline-block;
  }
}
.utm-header {
  position: relative;
  margin-bottom: -20px;
  background: var(--red);
  border-bottom-right-radius: 20px;
}
.utm-header .header-inner {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 80px;
}
.utm-header .header-outer {
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.utm-header .header-outer:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 0px 20px var(--red);
  box-shadow: 0px 0px 0px 20px var(--red);
}
.utm-header .site-live {
  -webkit-flex: 1;
  flex: 1;
  padding: 0 80px 0 0;
}
.utm-header .site-icon {
  padding: 0 20px;
}
.utm-header .site-icon a {
  display: block;
  width: 32px;
  height: 80px;
  background-image: url("../logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 60px;
}
.utm-header .site-name {
  padding: 0 20px;
  display: none !important;
}
.utm-header .site-name a {
  display: block;
  padding-top: 6px;
  font-family: "Room", serif;
  font-size: 1.8em;
  line-height: 1em;
  -webkit-user-select: none;
  user-select: none;
}
.utm-header .site-menu {
  padding: 0 10px;
  display: none !important;
  -webkit-flex: 1;
  flex: 1;
}
.utm-header .site-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.utm-header .site-menu ul > li {
  display: inline-block;
}
.utm-header .site-menu ul > li.menu-item--active-trail > a,
.utm-header .site-menu ul > li > a.is-active {
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
}
.utm-header .site-menu ul > li > a {
  display: block;
  padding: 0 10px;
  font-size: 1.3em;
  font-weight: 600;
  color: #000;
}
.utm-header .site-menu ul > li > a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 1000px) {
  .utm-header .header-inner {
    height: 90px;
  }
  .utm-header .site-live {
    -webkit-flex: 0;
    flex: 0;
    padding: 0 10px;
  }
  .utm-header .site-icon {
    display: none !important;
  }
  .utm-header .site-name {
    display: block !important;
  }
  .utm-header .site-menu {
    display: block !important;
  }
}
.menu-mb-btn {
  z-index: 400;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
.menu-mb-btn > a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background: #111;
  border-radius: 50%;
  cursor: pointer;
}
.menu-mb-btn > a > div {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 60%;
  height: 2px;
  margin-top: -1px;
  background: #fff;
  -webkit-transition: transform 200ms ease;
  transition: transform 200ms ease;
}
.menu-mb-btn > a > div:nth-child(1) {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}
.menu-mb-btn > a > div:nth-child(2) {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}
.menu-mb-on .menu-mb-btn > a > div:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-mb-on .menu-mb-btn > a > div:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gin--horizontal-toolbar .menu-mb-btn {
  top: var(--gin-toolbar-y-offset) !important;
}
@media only screen and (min-width: 1000px) {
  .menu-mb-btn {
    display: none;
  }
}
.menu-mb {
  z-index: 300;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--red);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  pointer-events: none;
  -webkit-transition: opacity 200ms ease, visibility 0s linear 200ms;
  transition: opacity 200ms ease, visibility 0s linear 200ms;
  opacity: 0;
  visibility: hidden;
}
.menu-mb > div {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}
.menu-mb > div::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.menu-mb > div::-moz-scrollbar {
  width: 0px;
  background: transparent;
}
.menu-mb-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}
.menu-mb-inner div.brand {
  margin: 0 auto 40px auto;
}
.menu-mb-inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-mb-inner ul > li {
  display: block;
}
.menu-mb-inner ul > li > a {
  display: block;
  padding: 4px 0;
  font-size: 2.2em;
  line-height: 1.2em;
  font-weight: 600;
  text-align: center;
}
.menu-mb-inner ul > li.menu-item--active-trail > a,
.menu-mb-inner ul > li > a.is-active {
  text-decoration: underline;
}
.menu-mb-on .menu-mb {
  pointer-events: all;
  -webkit-transition: opacity 200ms ease, visibility 0s linear;
  transition: opacity 200ms ease, visibility 0s linear;
  opacity: 1;
  visibility: visible;
}
.gin--horizontal-toolbar .menu-mb > div {
  padding-top: var(--gin-toolbar-y-offset) !important;
}
@media only screen and (min-width: 1000px) {
  .menu-mb {
    display: none;
  }
}
.menu-az-btn {
  z-index: 600;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  pointer-events: none;
}
.menu-az-btn > a {
  position: relative;
  display: table;
  width: 40px;
  height: 40px;
  background: var(--yellow);
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
}
.menu-az-btn > a > div.name {
  z-index: 2;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 1em;
  font-weight: 600;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-user-select: none;
  user-select: none;
}
.menu-az-btn > a > div.icon {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../ui/svg/close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: opacity 200ms ease, transform 200ms ease;
  transition: opacity 200ms ease, transform 200ms ease;
}
.menu-az-on .menu-az-btn > a > div.name {
  opacity: 0;
}
.menu-az-on .menu-az-btn > a > div.icon {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
@media only screen and (min-width: 1000px) {
  .menu-az-btn > a {
    width: 60px;
    height: 60px;
  }
  .menu-az-btn > a > div.name {
    font-size: 1.2em;
  }
  .menu-az-btn > a:hover > div.name {
    text-decoration: underline;
  }
}
@media only screen and (min-width: 1400px) {
  .menu-az-btn > a {
    width: 80px;
    height: 80px;
  }
  .menu-az-btn > a > div.name {
    font-size: 1.4em;
  }
}
.menu-az {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  pointer-events: none;
  -webkit-transition: opacity 200ms ease, visibility 0s linear 200ms;
  transition: opacity 200ms ease, visibility 0s linear 200ms;
  opacity: 0;
  visibility: hidden;
}
.menu-az > div {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}
.menu-az > div::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.menu-az > div::-moz-scrollbar {
  width: 0px;
  background: transparent;
}
.menu-az-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  color: #fff;
}
.menu-az-inner div.brand {
  margin: 0 auto 40px auto;
}
.az-view-nav {
  display: table;
  margin: 0 auto;
  margin-bottom: 40px;
  cursor: pointer;
}
.az-view-nav > div {
  display: table-cell;
  vertical-align: middle;
  padding: 6px;
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: 500;
  -webkit-transition: color 120ms ease;
  transition: color 120ms ease;
}
.az-view-nav .switch {
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
}
.az-view-nav .switch > div:nth-child(1) {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 100px;
}
.az-view-nav .switch > div:nth-child(2) {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: transform 200ms ease;
  transition: transform 200ms ease;
}
.az-view-nav[data-id="a"] > div:nth-child(3) {
  opacity: 0.6;
}
.az-view-nav[data-id="b"] > div:nth-child(1) {
  opacity: 0.6;
}
.az-view-nav[data-id="b"] .switch > div:nth-child(2) {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.az-view {
  display: none;
  text-align: center;
}
.az-view.on {
  display: block;
}
.az-view h3 {
  font-size: 3.2em;
  line-height: 1.4em;
  font-weight: 500;
}
.az-view a {
  display: table;
  margin: 0 auto 12px auto;
}
.az-view a span {
  display: block;
}
.az-view a span.name {
  font-size: 1.1em;
  font-weight: 500;
}
.az-view a span.name-sub {
  font-size: 0.9em;
  color: #aaa;
}
.az-view a:hover span.name {
  text-decoration: underline;
}
.menu-az-on .menu-az {
  pointer-events: all;
  -webkit-transition: opacity 200ms ease, visibility 0s linear;
  transition: opacity 200ms ease, visibility 0s linear;
  opacity: 1;
  visibility: visible;
}
.gin--horizontal-toolbar .menu-az > div {
  padding-top: var(--gin-toolbar-y-offset) !important;
}
.card-hold {
  margin: 0 -12px;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.card {
  display: inline-block;
  width: 100%;
  padding: 12px;
}
.card > a {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.card > a > div {
  display: table-cell;
  vertical-align: top;
}
.card .head {
  width: 36%;
  padding-right: 12px;
}
.card .head > div {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
}
.card .head > div > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  border-radius: 8px;
  overflow: hidden;
}
.card .head img {
  -webkit-transform: scale(1.001, 1.001);
  transform: scale(1.001, 1.001);
  -webkit-transition: transform 300ms ease;
  transition: transform 300ms ease;
}
.card .core {
  width: 64%;
  padding-right: 2%;
}
.card .core span {
  display: block;
}
.card .core span.type {
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 400;
  margin-bottom: 4px;
}
.card .core span.name {
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}
.card .core span.desc {
  font-size: 0.9em;
  line-height: 1.4em;
  font-weight: 500;
  margin-bottom: 16px;
  display: none;
}
.card .core span.dist {
  font-size: 0.8em;
  line-height: 1.4em;
  font-weight: 600;
  display: table;
  padding: 3px 6px;
  border: 1px solid var(--red);
  border-radius: 4px;
  color: var(--red);
}
@media only screen and (min-width: 1000px) {
  .card-hold {
    margin: 0 -20px;
  }
  .card {
    width: 50%;
    padding: 20px;
  }
  .card .head {
    width: auto;
    padding-right: 20px;
  }
  .card .core {
    width: auto;
  }
  .card .core span.dist {
    border-width: 2px;
  }
}
@media only screen and (min-width: 1400px) {
  .card {
    width: 33.33%;
  }
  .card > a:hover .head img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  .card-hold.promote .card:nth-child(-n + 2) {
    width: 50%;
  }
  .card-hold.promote .card:nth-child(-n + 2) > a {
    border-bottom: 1px solid #ccc;
  }
  .card-hold.promote .card:nth-child(-n + 2) > a > div {
    padding-bottom: 30px;
  }
  .card-hold.promote .card:nth-child(-n + 2) .head {
    padding-right: 30px;
  }
  .card-hold.promote .card:nth-child(-n + 2) .core span.type {
    font-size: 1.2em;
  }
  .card-hold.promote .card:nth-child(-n + 2) .core span.name {
    font-size: 1.4em;
    margin-bottom: 12px;
  }
  .card-hold.promote .card:nth-child(-n + 2) .core span.desc {
    display: block;
  }
}
.story-head {
  margin-top: 60px;
  border-top: 1px solid #ccc;
}
.story-head h2 {
  font-weight: 500;
}
.story-hold {
  margin: 0 -6px;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.story {
  display: inline-block;
  width: 50%;
  padding: 6px;
}
.story > a {
  display: block;
  height: 100%;
}
.story > a .head {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.story > a .head.has-video-1:before {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../ui/svg/play-w.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20% auto;
}
.story > a .head > div {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  border-radius: 8px;
  overflow: hidden;
}
.story > a .head img {
  -webkit-transform: scale(1.001, 1.001);
  transform: scale(1.001, 1.001);
  -webkit-transition: transform 300ms ease;
  transition: transform 300ms ease;
}
.story > a .core {
  padding: 10px 2% 10px 0;
}
.story > a .core span {
  display: block;
}
.story > a .core span.name {
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 600;
  overflow-wrap: break-word;
}
@media only screen and (min-width: 700px) {
  .story-hold {
    margin: 0 -10px;
  }
  .story {
    width: 33.33%;
    padding: 10px;
  }
  .story > a .core {
    padding: 14px 4% 10px 0;
  }
}
@media only screen and (min-width: 1000px) {
  .story {
    width: 25%;
  }
}
@media only screen and (min-width: 1400px) {
  .story-head h2 {
    font-size: 2.2rem;
  }
  .story > a:hover .head img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}
.media-item {
  margin: 60px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.media-item > div {
  width: 100%;
}
.media-item .core {
  padding: 0 0 20px 0;
}
.media-item.has-head .core-name {
  display: none;
}
.node-route .media-container .views-element-container:last-child .media-item {
  margin-bottom: 0;
}
@media only screen and (min-width: 1000px) {
  .media-item {
    margin: 80px 0;
  }
  .media-item > div {
    width: 50%;
  }
  .media-item .core {
    padding: 0 40px 0 0;
  }
  .media-item .head {
    padding: 0 0 0 30px;
  }
  .media-container .views-element-container:nth-child(even) .media-item {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .media-container .views-element-container:nth-child(even) .media-item .core {
    padding: 0 0 0 30px;
  }
  .media-container .views-element-container:nth-child(even) .media-item .head {
    padding: 0 30px 0 0;
  }
}
.map {
  z-index: 2;
  position: relative;
  display: block;
}
.map .map-view {
  z-index: 2;
  position: sticky;
  top: -20px;
  background: var(--sand);
}
.map .map-data {
  z-index: 4;
  position: relative;
  margin-top: -20px;
  background: var(--sand);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px rgb(0 0 0 / 10%), 0 2px 6px 2px rgb(0 0 0 / 4%);
  box-shadow: 0 0 4px rgb(0 0 0 / 10%), 0 2px 6px 2px rgb(0 0 0 / 4%);
}
.map .map-data .map-data-handle {
  z-index: 8;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 60px;
  height: 4px;
  background: #aaa;
  border-radius: 100px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.map .map-data .map-data-dock {
  background: #fff;
}
.map .map-data .map-data-near {
  padding: 80px 0;
}
.map .map-data .map-data-near.hide {
  display: none;
}
.map .map-data .map-data-near h2 {
  text-align: center;
  margin-top: 0;
}
.map #mapbox {
  z-index: 2;
  position: relative;
  height: 64vh;
}
.dock-inner {
  padding: 80px 0 60px 0;
}
.node-route .dock-inner {
  padding: 60px 0;
}
.gin--horizontal-toolbar .map .map-view {
  top: calc(var(--gin-toolbar-y-offset) - 20px);
}
@media only screen and (min-width: 1000px) {
  .map #mapbox {
    height: 74vh;
  }
}
@media only screen and (min-width: 1400px) {
  .dock-inner {
    padding: 100px 0 80px 0;
  }
  .node-route .dock-inner {
    padding: 80px 0;
  }
}
.mapboxgl-ctrl-top-right {
  top: 25px;
  right: 5px;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}
.mapboxgl-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  margin-top: -1px;
}
.mapboxgl-popup.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  margin-bottom: -1px;
}
.mapboxgl-popup-content {
  padding: 0;
  font-size: 13px;
  line-height: 1.3em;
}
.mapboxgl-popup-content > a {
  display: block;
  padding: 15px;
}
.mapboxgl-popup-content > a > div {
  display: table;
}
.mapboxgl-popup-content > a > div > div {
  display: table-cell;
  vertical-align: middle;
}
.mapboxgl-popup-content span {
  display: block;
  font-family: "Inter", sans-serif;
}
.mapboxgl-popup-content span.name {
  font-weight: 500;
}
.mapboxgl-popup-content div.thumb {
  width: 50px;
  aspect-ratio: 1 / 1;
  margin-right: 8px;
  background: #ccc;
  border-radius: 4px;
  overflow: hidden;
}
.photo-hold {
  max-width: 800px;
  margin: 40px 0;
}
.photo-hold .photo {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
}
.photo-hold .photo > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  border-radius: 15px;
  overflow: hidden;
}
.node-column {
  display: block;
}
.node-column > div {
  display: block;
}
.node-column h1 {
  margin-top: 0;
}
.node-column h3 {
  color: var(--red);
}
.media-source {
  font-size: 0.8em;
  line-height: 1.5em;
  color: #666;
  text-align: left;
}
.media-source span {
  display: block;
  margin-top: 4px;
}
.media-source span:nth-child(1) {
  margin-top: 16px;
}
.media-source span.license {
  margin-top: 6px;
}
.media-source span.license a {
  display: inline-block;
}
.media-source span.license a img {
  height: 12px;
}
.media-source span a {
  text-decoration: underline;
}
@media only screen and (min-width: 1000px) {
  .node-column {
    display: -webkit-flex;
    display: flex;
  }
  .node-column > div:nth-child(1) {
    width: 44%;
  }
  .node-column > div:nth-child(2) {
    -webkit-flex: 1;
    flex: 1;
    padding: 0 4% 0 60px;
  }
  .node-column .photo-hold {
    margin: 0;
  }
  .media-source {
    padding-right: 6%;
  }
}
.story-container h2 {
  max-width: 1000px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.story-container .audio-container {
  margin-bottom: 60px;
}
.dock-story {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  pointer-events: none;
  -webkit-transition: opacity 200ms ease, visibility 0s linear 200ms;
  transition: opacity 200ms ease, visibility 0s linear 200ms;
  opacity: 0;
  visibility: hidden;
}
.dock-story::after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: transform 600ms cubic-bezier(0.8, 0, 0, 0.8);
  transform: scale(0.6, 0.6);
  transition: transform 600ms cubic-bezier(0.8, 0, 0, 0.8);
  -webkit-transform: scale(0.6, 0.6);
}
.dock-story > div {
  z-index: 4;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}
.dock-story > div::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.dock-story > div::-moz-scrollbar {
  width: 0px;
  background: transparent;
}
.dock-story > div > div {
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
.dock-story-end {
  z-index: 6;
  position: fixed;
  top: 20px;
  right: 20px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--sand);
  background-image: url("../ui/svg/close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: transform 200ms ease;
  transition: transform 200ms ease;
}
.dock-story-on .dock-story {
  pointer-events: all;
  -webkit-transition: opacity 200ms ease, visibility 0s linear;
  transition: opacity 200ms ease, visibility 0s linear;
  opacity: 1;
  visibility: visible;
}
.dock-story-on .dock-story::after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.dock-story-on .dock-story > div > div {
  opacity: 1;
  -webkit-transition: opacity 200ms ease 600ms;
  transition: opacity 200ms ease 600ms;
}
.gin--horizontal-toolbar .dock-story {
  top: var(--gin-toolbar-y-offset);
  height: calc(100vh - var(--gin-toolbar-y-offset));
}
@media only screen and (min-width: 1000px) {
  .dock-story-end {
    width: 60px;
    height: 60px;
    background-color: transparent;
  }
  .dock-story-end:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media only screen and (min-width: 1400px) {
  .dock-story-end {
    width: 80px;
    height: 80px;
  }
}
.route-container h2 {
  max-width: 1000px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.route-container div.photo-hold {
  margin-left: auto;
  margin-right: auto;
}
.route-container-inner {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.route-start {
  display: table;
  margin: 2rem auto;
  padding: 20px 30px 20px 56px;
  background-color: #000;
  background-image: url("../ui/svg/route-w.svg");
  background-repeat: no-repeat;
  background-position: left 28px center;
  background-size: 18px auto;
  border-radius: 4px;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color 120ms ease;
  transition: background-color 120ms ease;
}
.route-start:hover {
  background-color: #222;
}
.map-data-path {
  padding-top: 40px;
  padding-bottom: 24px;
}
.map-data-path div.nav-calc {
  display: table;
  margin: 0 auto;
}
.map-data-path.type-cycling div.nav-calc span {
  padding-left: 2.6em;
  background-image: url("../ui/svg/cycling.svg");
}
.map-data-path div.nav-menu.dragscroll {
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  user-select: none;
}
.map-data-path div.nav-menu.dragscroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
.map-data-path div.nav-menu.dragscroll::-moz-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
.map-data-path span {
  display: inline-block;
  margin-right: 8px;
  padding: 8px 1em 8px 2.2em;
  background: #fff;
  border-radius: 100px;
  font-size: 1.1em;
  font-weight: 500;
  background-image: url("../ui/svg/walking.svg");
  background-repeat: no-repeat;
  background-position: left 1em center;
  background-size: auto 1em;
}
.map-data-path span > em {
  font-weight: 400;
  font-style: normal;
}
.map-data-path ul {
  position: relative;
  width: min-content;
  margin: 16px auto 0 auto;
  padding: 0;
  white-space: nowrap;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.map-data-path ul:before {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  content: "";
  display: block;
  height: 1px;
  background: #333;
}
.map-data-path ul > li {
  z-index: 4;
  position: relative;
  display: inline-block;
  margin-left: 20px;
}
.map-data-path ul > li:last-child {
  margin-right: 20px;
}
.map-data-path ul > li > a {
  display: table;
  width: 36px;
  height: 36px;
  background-color: var(--sand);
  border: 2px solid #333;
  border-radius: 50%;
}
.map-data-path ul > li > a > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  color: #333;
}
.map-data-path ul > li > a.on {
  background-color: #333;
}
.map-data-path ul > li > a.on > div {
  color: #eee;
}
.map-data-path ul > li.is-home > a > div {
  background-image: url("../ui/svg/home.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 44%;
}
.map-data-path ul > li.is-home > a.on > div {
  background-image: url("../ui/svg/home-w.svg");
}
.fold {
  margin: 2rem 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  overflow: hidden;
}
.fold > a {
  position: relative;
  display: block;
  padding: 12px 0;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: 600;
}
.fold > a:before {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background-image: url("../ui/svg/plus.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: transform 200ms ease;
  transition: transform 200ms ease;
}
.fold > a.on:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.fold > a.on,
.fold > a:hover {
  text-decoration: underline;
}
.fold div.fold-toggle {
  padding-right: 6%;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}
.fold div.fold-toggle-hidden {
  max-height: 0;
}
.org-logo {
  margin: 2rem 0;
}
.org-logo-head {
  font-size: 0.8em;
  line-height: 1.5em;
  color: #666;
}
.org-logo-hold {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.org-logo-hold > div {
  padding: 12px 12px 0 0;
}
.org-logo a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-transition: border-color 120ms ease;
  transition: border-color 120ms ease;
}
.org-logo a > img {
  max-width: 60px;
  max-height: 24px;
}
.org-logo a:hover {
  border-color: #888;
}
@media only screen and (min-width: 600px) {
  .org-logo a > img {
    max-width: 100px;
    max-height: 40px;
  }
}
.site-live input[name="livesearch"] {
  width: 100%;
  max-width: 440px;
  height: 40px;
  margin: 0;
  padding: 0 20px;
  background-image: none;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  color: #000;
}
.site-live input[name="livesearch"].ui-autocomplete-loading {
  background: linear-gradient(120deg, #eee 8%, #fff 18%, #eee 32%);
  background-size: 200% 100%;
  -webkit-animation: 1.5s shine linear infinite;
  animation: 1.5s shine linear infinite;
}
.site-live input[type="submit"] {
  display: none !important;
}
.search-api-autocomplete-search {
  z-index: 300;
  border: none !important;
}
.search-api-autocomplete-search > li {
  background: #fff;
}
.search-api-autocomplete-search > li:nth-child(1) {
  margin-top: -4px;
}
.search-api-autocomplete-search > li:last-child .search-view {
  padding-bottom: 14px;
}
.search-api-autocomplete-search > li .search-view {
  padding: 8px 20px;
  font-family: "Inter", sans-serif;
}
.search-api-autocomplete-search > li .search-view .name {
  font-size: 0.9em;
  line-height: 1.4em;
  font-weight: 500;
}
.search-api-autocomplete-search > li .search-view .addr {
  font-size: 0.8em;
  line-height: 1.4em;
  color: #666;
}
@media only screen and (min-width: 1000px) {
  .site-live input[name="livesearch"] {
    width: 30vw;
    height: 50px;
  }
}
@-webkit-keyframes shine {
  to {
    background-position-x: -200%;
  }
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.section-ck {
  padding: 60px 0;
}
.section-ck > div > div {
  max-width: 700px;
  margin: 0 auto;
}
.section-ck p {
  margin: 1.4em 0;
}
.section-ck ul {
  margin: 1.4em 0;
  padding: 0;
  list-style: disc inside;
}
.section-ck ul > li {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: 400;
}
.section-ck ul > li strong {
  font-weight: 600;
}
.section-ck ul > li a {
  color: var(--red);
  text-decoration: underline;
}
.section-ck ul > li a:hover {
  color: #444;
}
.section-routes {
  padding: 80px 0 60px 0;
}
.section-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: stretch;
  align-items: stretch;
  min-height: 74vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000;
}
.section-header > div {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.section-header > div > div {
  display: table;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.section-header > div > div > div {
  display: table-cell;
  padding: 120px 20px 100px 20px;
  vertical-align: middle;
  text-align: center;
}
.section.section-header h1 {
  margin: 0;
  color: var(--yellow);
}
@media only screen and (min-width: 1400px) {
  .section-ck {
    padding: 80px 0;
  }
  .section-routes {
    padding: 100px 0 80px 0;
  }
}
form.user-login-form,
form.user-pass,
form.user-pass-reset {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 20px;
}
form.user-login-form p,
form.user-pass p,
form.user-pass-reset p {
  font-size: 1rem;
}
form.user-login-form label,
form.user-pass label {
  display: block;
  font-weight: 500;
}
form.user-login-form div.description,
form.user-pass div.description {
  display: none;
}
form.user-login-form input[type="text"],
form.user-login-form input[type="password"],
form.user-pass input[type="text"] {
  width: 100%;
  max-width: 600px;
  margin: 10px 0;
  padding: 10px;
  background: #fff;
  border: 2px solid #000;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
form.user-login-form input[type="submit"],
form.user-pass input[type="submit"],
form.user-pass-reset input[type="submit"] {
  display: table;
  margin: 10px 0;
  padding: 14px 24px;
  background: #000;
  border: none;
  border-radius: 0;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
form.user-login-form input[type="submit"]:hover,
form.user-pass input[type="submit"]:hover,
form.user-pass-reset input[type="submit"]:hover {
  text-decoration: underline;
}
.revised {
  width: 100%;
  max-width: 500px;
  padding: 12px 0;
  border-bottom: 1px solid #aaa;
}
.revised > a {
  display: block;
}
.revised > a span {
  display: block;
}
.revised > a span.name {
  font-size: 1.1em;
  font-weight: 500;
  padding-bottom: 4px;
}
.revised > a span.date {
  font-size: 0.9em;
  color: #666;
}
.revised > a:hover span.name {
  text-decoration: underline;
}
.audioplayer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  margin: 1em auto;
  padding: 24px;
  background: #fff;
  border: 2px solid #333;
  border-radius: 8px;
}
.audioplayer audio {
  position: absolute;
}
.audioplayer-playpause {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause {
  background: rgba(91, 130, 255, 0);
  border: 2px solid #5b82ff;
}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause:hover {
  background: rgba(91, 130, 255, 0.1);
}
.audioplayer-playing .audioplayer-playpause {
  background: rgba(253, 79, 26, 0);
  border: 2px solid #fd4f1a;
}
.audioplayer-playing .audioplayer-playpause:hover {
  background: rgba(235, 79, 26, 0.1);
}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
  content: "";
  -webkit-justify-content: center;
  justify-content: center;
  width: 0;
  height: 0;
  margin-left: 2px;
  border-top: 7px solid transparent;
  border-right: none;
  border-bottom: 7px solid transparent;
  border-left: 12px solid #0059ff;
}
.audioplayer-playing .audioplayer-playpause a {
  content: "";
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 12px;
  height: 14px;
}
.audioplayer-playing .audioplayer-playpause a::before,
.audioplayer-playing .audioplayer-playpause a::after {
  content: "";
  width: 4px;
  height: 14px;
  background-color: #fd4f1a;
}
.audioplayer-time {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 40px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
}
.audioplayer-time-current {
  margin-left: 24px;
}
.audioplayer-time-duration {
  margin-right: 24px;
}
.audioplayer-bar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  position: relative;
  margin: 0 12px;
  height: 12px;
  cursor: pointer;
}
.audioplayer-bar::before {
  content: "";
  position: absolute;
  top: 5px;
  width: 100%;
  height: 2px;
  background-color: #dde2e6;
}
.audioplayer-bar > div {
  position: absolute;
  left: 0;
  top: 5px;
}
.audioplayer-bar-loaded {
  z-index: 1;
  height: 2px;
  background: #bec8d2;
}
.audioplayer-bar-played {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  z-index: 2;
  height: 2px;
  background: -webkit-linear-gradient(left, #0059ff, #09b1fa);
}
.audioplayer-bar-played::after {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: -5px;
  right: -1px;
  width: 12px;
  height: 12px;
  margin-right: -5px;
  background-color: #fff;
  border-radius: 6px;
}
.audioplayer:not(.audioplayer-playing) .audioplayer-bar-played::after {
  border: 2px solid #bec8d2;
}
.audioplayer-playing .audioplayer-bar-played::after {
  border: 2px solid #0059ff;
}
.audioplayer-volume {
  display: -webkit-flex;
  display: flex;
  align-items: -webkit-center;
  align-items: center;
}
.audioplayer-volume-button {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.audioplayer-volume-button a {
  display: -webkit-flex;
  display: flex;
  width: 6px;
  height: 8px;
  background-color: #9a9fb0;
  position: relative;
}
.audioplayer-volume-button a:before,
.audioplayer-volume-button a:after {
  content: "";
  position: absolute;
}
.audioplayer-volume-button a:before {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 9px solid #9a9fb0;
  border-bottom: 8px solid transparent;
  border-left: none;
  top: -4px;
}
.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
  left: 10px;
  top: -2px;
  width: 6px;
  height: 6px;
  border: 6px double #9a9fb0;
  border-width: 6px 6px 0 0;
  border-radius: 0 12px 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.audioplayer-mute .audioplayer-volume-button a {
  background-color: #fd4f1a;
}
.audioplayer-mute .audioplayer-volume-button a:before {
  border-right: 9px solid #fd4f1a;
}
.audioplayer-volume-adjust {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-left: 8px;
}
.audioplayer-volume-adjust > div {
  position: relative;
  display: -webkit-flex;
  display: flex;
  width: 60px;
  height: 2px;
  cursor: pointer;
  background-color: #bec8d2;
}
.audioplayer-volume-adjust div div {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: #0059ff;
}
@media screen and (max-width: 700px) {
  .audioplayer {
    padding: 12px;
  }
  .audioplayer-volume-adjust {
    display: none;
  }
}
.ajax-progress__throbber,
.ajax-progress__throbber--fullscreen,
.ui-dialog .ajax-progress__throbber,
.media-library-item .ajax-progress__throbber {
  border: 3px solid var(--gin-color-primary);
}
[dir="ltr"] .ajax-progress__throbber,
[dir="ltr"] .ajax-progress__throbber--fullscreen,
[dir="ltr"] .ui-dialog .ajax-progress__throbber,
[dir="ltr"] .media-library-item .ajax-progress__throbber {
  border-right: 3px dotted transparent;
}
[dir="rtl"] .ajax-progress__throbber,
[dir="rtl"] .ajax-progress__throbber--fullscreen,
[dir="rtl"] .ui-dialog .ajax-progress__throbber,
[dir="rtl"] .media-library-item .ajax-progress__throbber {
  border-left: 3px dotted transparent;
}
.ajax-progress .ajax-progress__message {
  color: var(--gin-color-text);
}
[dir].gin--dark-mode .ajax-progress--fullscreen {
  background-color: var(--gin-color-primary);
  border-color: transparent;
  box-shadow: 0 2px 6px 0 var(--gin-bg-app);
}
[dir].gin--dark-mode .ajax-progress--fullscreen .ajax-progress__throbber,
[dir].gin--dark-mode
  .ajax-progress--fullscreen
  .ajax-progress__throbber--fullscreen {
  border: 3px solid var(--gin-bg-app);
  border-right: 3px dotted transparent;
}
.media-library-widget .ajax-progress__throbber,
.media-library-widget .ajax-progress__throbber--fullscreen {
  border: 2px solid var(--gin-color-primary);
}
[dir="ltr"] .media-library-widget .ajax-progress__throbber,
[dir="ltr"] .media-library-widget .ajax-progress__throbber--fullscreen {
  border-right: 2px dotted transparent;
}
[dir="rtl"] .media-library-widget .ajax-progress__throbber,
[dir="rtl"] .media-library-widget .ajax-progress__throbber--fullscreen {
  border-left: 2px dotted transparent;
}
.ui-dialog .ajax-progress-throbber {
  padding: var(--gin-spacing-xs);
  background: var(--gin-bg-app);
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 rgba(34, 35, 48, 0.1);
  border: 1px solid rgba(216, 217, 224, 0.8);
}
.gin--dark-mode .ui-dialog .ajax-progress-throbber {
  background-color: var(--gin-color-primary);
  border-color: transparent;
  box-shadow: 0 2px 6px 0 var(--gin-bg-app);
}
.ui-dialog .ajax-progress-throbber::before,
.contextual-links .ajax-progress-throbber::before {
  content: "";
  display: block;
  position: absolute;
  top: var(--gin-spacing-xs);
  width: 1.125rem;
  height: 1.125rem;
  border: 2px solid var(--gin-color-primary);
  border-radius: 50%;
  animation: gin-throbber 0.75s linear infinite;
}
[dir="ltr"] .ui-dialog .ajax-progress-throbber::before,
[dir="ltr"] .contextual-links .ajax-progress-throbber::before {
  left: var(--gin-spacing-xs);
  border-right: 2px dotted transparent;
}
[dir="rtl"] .ui-dialog .ajax-progress-throbber::before,
[dir="rtl"] .contextual-links .ajax-progress-throbber::before {
  right: var(--gin-spacing-xs);
  border-left: 2px dotted transparent;
}
.gin--dark-mode .ui-dialog .ajax-progress,
.gin--dark-mode .media-library-item .ajax-progress.ajax-progress.ajax-progress {
  background-color: var(--gin-bg-app);
  border-color: var(--gin-bg-app);
}
.contextual-links li {
  position: relative;
}
.contextual-links .ajax-progress-throbber {
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
}
[dir="ltr"] .contextual-links .ajax-progress-throbber {
  right: var(--gin-spacing-xxs);
}
[dir="rtl"] .contextual-links .ajax-progress-throbber {
  left: var(--gin-spacing-xxs);
}
.contextual-links .ajax-progress-throbber::before {
  top: 0;
}
[dir="ltr"] .contextual-links .ajax-progress-throbber::before {
  left: 0.25em;
}
[dir="rtl"] .contextual-links .ajax-progress-throbber::before {
  right: 0.25em;
}
@keyframes gin-throbber {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.claro-autocomplete__message {
  color: var(--gin-color-primary);
}
