<footer role="contentinfo">
  <div class="user-bar">
    <div class="pad">

    </div>
  </div>
  <div class="utm-footer">
    <div class="pad">
      <div class="brand">
        <div>Utrecht<br>Time Machine</div>
      </div>
      <ul class="menu">
        <li class="menu-item menu-item--active-trail">
          <a href="/nl/locaties" data-drupal-link-system-path="node/1836">Locaties</a>
        </li>
        <li class="menu-item">
          <a href="/nl/routes" data-drupal-link-system-path="node/1837">Routes</a>
        </li>
        <li class="menu-item">
          <a href="/nl/over" data-drupal-link-system-path="node/1838">Over</a>
        </li>
      </ul>


    </div>
  </div>
</footer>
