<header role="banner">
  <div>
    <div data-drupal-messages-fallback="" class="hidden"></div>
  </div>

  <div class="utm-header">
    <div class="header-inner">
      <div class="site-icon">
        <a (click)="this.router.navigateByUrl('/intro')"></a>
      </div>
      <div class="site-name">
        <a (click)="this.router.navigateByUrl('/intro')"
          >Utrecht<br />Time Machine</a
        >
      </div>
      <div class="site-live">
        <div class="views-element-container">
          <div>
            <div
              class="views-exposed-form"
              id="views-exposed-form-utm-search-livesearch"
              accept-charset="UTF-8"
            >
              <div class="input-wrapper" #searchContainer>
                <input
                  placeholder="{{ 'search' | translate }}"
                  class="form-autocomplete form-text ui-autocomplete-input"
                  [ngClass]="{
                    'ui-autocomplete-loading': search.isLoadingLiveSearchResults
                  }"
                  type="text"
                  id="edit-livesearch"
                  name="livesearch"
                  value=""
                  size="30"
                  maxlength="128"
                  autocomplete="off"
                  (input)="onSearchInputChange($event)"
                  (blur)="onSearchBlur($event)"
                  (focus)="onSearchFocus()"
                  (click)="onSearchFocus()"
                  (keyup.enter)="search.navigateToFirstSearchResult()"
                />

                <ul
                  class="search-api-autocomplete-search"
                  [ngStyle]="{
                    visibility: search.showLiveSearchResults
                      ? 'visible'
                      : 'hidden'
                  }"
                >
                  <!-- Location, route and story results -->
                  <ng-container *ngFor="let type of liveSearchResultTypes">
                    <li
                      class="search-result-type"
                      *ngIf="search.getLiveSearchResultsByType(type)?.length"
                    >
                      <img
                        [src]="getSearchResultTypeConfig(type).icon"
                        alt="{{ type }} icon"
                        class="header-icon"
                      />
                      {{
                        getSearchResultTypeConfig(type).titleTranslationKey
                          | translate
                      }}
                    </li>
                    <li
                      *ngFor="
                        let searchResult of search.getLiveSearchResultsByType(
                          type
                        )
                      "
                      [innerHtml]="searchResult.label"
                      (click)="
                        getSearchResultTypeConfig(type).clickHandler(
                          searchResult.url
                        )
                      "
                    ></li>
                  </ng-container>

                  <!-- Address Results -->
                  <li
                    class="search-result-type"
                    *ngIf="(search.addressResults | async)?.length"
                  >
                    <img
                      src="assets/ui/svg/map.svg"
                      alt="Addresses icon"
                      class="header-icon"
                    />
                    {{ "addressesOnMap" | translate }}
                  </li>
                  <li
                    *ngFor="let address of search.addressResults | async"
                    (click)="onAddressSelect(address)"
                    (mousedown)="$event.preventDefault()"
                    class="address-result"
                  >
                    <div class="search-view">
                      <div class="name">{{ address.place_name }}</div>
                      <!-- <div class="addr">{{ address.text }}</div> -->
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="site-menu">
        <app-menu-links></app-menu-links>
      </div>
    </div>
    <div class="header-outer"></div>
  </div>
</header>
