@if ( routing.getSelectedView() === SelectedView.Locations || routing.getSelectedView() ===
SelectedView.Routes ) {
<div class="filters-container" [ngStyle]="getStyles$ | async" (click)="onClick()">
  @if (!(filters.isShowing | async)) {
  <app-active-filters-badge />
  }
  <app-filters-header />
  <div class="filters-content" [@expandCollapse]="(filters.isShowing | async)?.toString()">
    <app-time-filter />
    <app-organisation-filter />
    <app-theme-filter />
    <app-clear-filters-button />
  </div>
</div>
}
