.filters-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &.filters-container-map {
    position: absolute;
    top: 2rem;
    left: 1rem;
    z-index: 20;
    width: 20rem;
    max-width: calc(100% - 5rem);

    @media (min-width: 768px) {
      width: 50%;
      max-width: min(calc(100% - 5rem), 40rem);
    }
  }

  &.filters-container-stories {
    margin-bottom: 0.5rem;
    max-width: 30rem;
  }
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

app-time-slider-button,
app-theme-button {
  width: fit-content;
}

app-theme-select {
  width: 100%;
  
  @media (min-width: 768px) {
    width: fit-content;
  }
}

app-time-slider-button,
app-time-slider-select {
}
