<div class="route-notification-compact">
  <div class="route-notification-compact__icon" aria-hidden="true">
    <img
      class="route-notification-compact__icon-img"
      src="assets/ui/svg/bell.svg"
      alt="Push-notificatie icoon"
    />
  </div>

  <label class="route-notification-compact__toggle">
    <input
      type="checkbox"
      [checked]="enabled"
      (change)="enabled = $any($event.target).checked"
    />
    <div class="route-notification-compact__toggle-ui"></div>
  </label>
</div>
