<div class="map-data-path type-walking">
  <div id="nav_calc" class="nav-calc">
    <span>4,93 km <em>(58 min)</em></span>
  </div>
  <div id="nav_menu" class="nav-menu dragscroll">
    <ul>
      <li class="is-home">
        <a data-dock-id="148" data-dock="route" class="on"><div></div></a>
      </li>
      <li>
        <a data-dock-id="1025" data-dock="story" class=""><div>1</div></a>
      </li>
      <li>
        <a data-dock-id="1028" data-dock="story" class=""><div>2</div></a>
      </li>
      <li>
        <a data-dock-id="1031" data-dock="story"><div>3</div></a>
      </li>
      <li>
        <a data-dock-id="1033" data-dock="story"><div>4</div></a>
      </li>
      <li>
        <a data-dock-id="1036" data-dock="story"><div>5</div></a>
      </li>
      <li>
        <a data-dock-id="1039" data-dock="story"><div>6</div></a>
      </li>
      <li>
        <a data-dock-id="1042" data-dock="story"><div>7</div></a>
      </li>
      <li>
        <a data-dock-id="1044" data-dock="story"><div>8</div></a>
      </li>
    </ul>
  </div>
</div>
