<div class="section section-routes">
  <div class="pad">
    <h1>Routes</h1>
    <div class="views-element-container">
      <div class="card-hold promote">
        <div class="card">
          <a
            (click)="router.navigateByUrl('/routes/unie-van-utrecht-wandeling')"
            ><div class="head">
              <div>
                <div>
                  <img
                    loading="lazy"
                    src="https://via.placeholder.com/400x280"
                    alt=""
                    width="400"
                    height="280"
                  />
                </div>
              </div>
            </div>

            <div class="core">
              <span class="type">Wandelroute</span
              ><span class="name">Unie van Utrecht wandeling</span
              ><span class="desc"
                >Een wandeling langs plekken die een rol hebben gespeeld bij de
                totstandkoming van de Unie van Utrecht</span
              ><span class="dist">59 min</span>
            </div></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
