<div class="section section-routes">
  <div class="pad">
    <h1>Routes</h1>
    <div class="views-element-container">
      <div class="card-hold promote">
        <div class="card" *ngFor="let r of utmRoutes.all">
          <a (click)="utmRoutes.selectByUrlOrId(r.url, r.nid)">
            <div class="head">
              <div>
                <div>
                  <img loading="lazy" [src]="r.photo" [alt]="r.title" />
                </div>
              </div>
            </div>

            <div class="core">
              <span class="type">Wandelroute</span
              ><span class="name">{{ r.title }}</span
              ><span class="desc">{{ r.head }}</span
              ><span class="dist" *ngIf="r.duration_minutes"
                >{{ r.duration_minutes }} min</span
              >
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
