<div>
  <div class="dock-inner route-container">
    <div class="pad">
      <h2>Unie van Utrecht wandeling</h2>
      <div class="route-container-inner">
        <h4>
          Een wandeling langs plekken die een rol hebben gespeeld bij de
          totstandkoming van de Unie van Utrecht
        </h4>
        <p>
          Dit verdrag vormde de inspiratiebron voor de Grondwet van Nederland
          (1814) en de Amerikaanse Onafhankelijkheidsverklaring (1776).
        </p>
        <a class="route-start" id="route_start">Route starten</a>
      </div>
      <div class="photo-hold">
        <div class="photo">
          <div>
            <img
              loading="lazy"
              src="https://via.placeholder.com/800x560"
              alt=""
              width="800"
              height="560"
            />
          </div>
        </div>
        <div class="media-source">
          <div class="views-element-container"><div></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
