.route-container-teaser {
  font-size: 1.1rem;
  padding-bottom: 2rem;
}

.route-container-text {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.audio-player-container {
  margin-bottom: 60px;
}

.route-audio-player {
  margin: 0 auto;
}

// app-debug-log {
//   margin: 0 1rem;
// }
