@if (audioUrl) {
<div class="audio-container">
  <div
    class="audioplayer"
    [ngClass]="{
      'audioplayer-playing': isPlaying,
      'audioplayer-loading': isLoading,
      'audioplayer-error': hasError
    }"
  >
    <div class="audioplayer-playpause" title="" (click)="togglePlayPause()">
      @if (isLoading) {
      <div class="audioplayer-spinner"></div>
      } @else if (hasError) {
      <img src="assets/ui/svg/close.svg" alt="Error loading audio" class="audioplayer-error-icon" />
      } @else {
      <a href="javascript:void(0);"></a>
      }
    </div>
    <div class="audioplayer-time audioplayer-time-current">
      {{ formattedPlayTime }}
    </div>
    <div
      class="audioplayer-bar"
      (touchstart)="onAudioBarStartScrubbing($event)"
      (touchmove)="onAudioBarScrubbed($event)"
      (touchend)="onAudioBarStopScrubbing($event)"
      (touchcancel)="onAudioBarStopScrubbing($event)"
      (mousedown)="onAudioBarStartScrubbing($event)"
      (mousemove)="onAudioBarScrubbed($event)"
      (mouseup)="onAudioBarStopScrubbing($event)"
      (mouseleave)="onAudioBarStopScrubbing($event)"
      (click)="onAudioBarClicked($event)"
    >
      <!--      <div class="audioplayer-bar-loaded" [ngStyle]="{ width: '0%' }"></div>-->
      <div class="audioplayer-bar-played" [ngStyle]="{ width: percentageComplete + '%' }"></div>
    </div>
    <div class="audioplayer-time audioplayer-time-duration">
      {{ formattedDuration }}
    </div>
    <!--    <div class="audioplayer-volume">-->
    <!--      <div class="audioplayer-volume-button" title="">-->
    <!--        <a href="javascript:void(0);"></a>-->
    <!--      </div>-->
    <!--      <div class="audioplayer-volume-adjust">-->
    <!--        <div><div style="width: 100%"></div></div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
  @if (transcript) {
  <app-audio-transcript [transcript]="transcript" />
  }
</div>
}
