<ul class="menu">
  <li
    class="menu-item"
    [ngClass]="{
      'menu-item--active-trail':
        routing.getSelectedView() === SelectedView.Locations
    }"
  >
    <a (click)="clickOnLink('/')">{{ "locations" | translate }}</a>
  </li>
  <li
    class="menu-item"
    [ngClass]="{
      'menu-item--active-trail':
        routing.getSelectedView() === SelectedView.Routes
    }"
  >
    <a (click)="clickOnLink('/routes')">{{ "routes" | translate }}</a>
  </li>
  <li
    class="menu-item"
    [ngClass]="{
      'menu-item--active-trail':
        routing.getSelectedView() === SelectedView.About
    }"
  >
    <a (click)="clickOnLink('/over')">{{ "about" | translate }}</a>
  </li>

  <li class="menu-item language-toggle">
    <app-lang-toggle></app-lang-toggle>
  </li>
</ul>
