.route-notification-compact {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 7px 1em 7px 2.5em;
  border-radius: 100px;
  background: #fff;
  border: none;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: 500;
  // margin-bottom: 0.2rem;

  background-image: url('/assets/ui/svg/bell.svg');
  background-repeat: no-repeat;
  background-position: left 1em center;
  background-size: auto 1em;
}
