@if (status$ | async; as status) { @if (status.missing.length > 0) {
<div class="route-notification-permissions-debug">
  <div class="route-notification-permissions-debug__title">{{ 'permissions' | translate }}</div>

  <div class="route-notification-permissions-debug__text">
    {{ 'permissionsRequiredText' | translate }}
  </div>

  <ul class="route-notification-permissions-debug__list">
    <li>
      <span class="route-notification-permissions-debug__label">{{
        'backgroundLocation' | translate
      }}</span>
      <strong
        class="route-notification-permissions-debug__value"
        [class.ok]="status.backgroundLocationOk"
        [class.not-ok]="!status.backgroundLocationOk"
      >
        {{ backgroundLocationStatusText(status.backgroundLocationStatus) }}
      </strong>
    </li>
    <li>
      <span class="route-notification-permissions-debug__label">{{
        'notifications' | translate
      }}</span>
      <strong
        class="route-notification-permissions-debug__value"
        [class.ok]="status.notificationPermissionOk"
        [class.not-ok]="!status.notificationPermissionOk"
      >
        {{ ok(status.notificationPermissionOk) }}
      </strong>
    </li>
  </ul>

  <div class="route-notification-permissions-debug__hint">
    {{ 'permissionsHelpText' | translate }}
  </div>
</div>
} }
