.container {
  max-height: 20rem !important;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}

.filter-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

.filter-header-row:hover {
  cursor: pointer;
}

.collapse-caret {
  display: flex;
  align-items: center;
  // margin-left: 0.5rem;
  padding-right: 1.2rem;
  transition: transform 0.2s;
  opacity: 0.8;
}

.collapse-caret img {
  width: 1.25rem;
  height: 1.25rem;
  transition: transform 0.2s;
  display: block;
}

.collapse-caret.collapsed img {
  transform: rotate(180deg);
}
