.container {
  max-height: 14rem !important;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;

  app-filter-header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: block;
  }
}
