<app-filter [title]="'theme' | translate" [icon]="'assets/ui/svg/theme.svg'">
  <div class="theme-select-container">
    <div class="theme-search">
      <!-- <input
        type="text"
        class="theme-search-input"
        [(ngModel)]="themes.searchText"
        (ngModelChange)="themes.filterThemes()"
        [placeholder]="'search-themes' | translate"
      /> -->
      <button
        class="clear-button"
        (click)="themes.clearSelection()"
        [disabled]="themes.selectedIds.value.length === 0"
        [title]="'clear-themes' | translate"
      >
        <mat-icon class="clear-icon">filter_alt_off</mat-icon>
        <span
          class="clear-text"
          [innerText]="'clear-themes' | translate"
        ></span>
      </button>
    </div>

    <div class="theme-list">
      <div
        *ngFor="let theme of themes.filtered | async"
        class="theme-checkbox-container"
      >
        <mat-checkbox
          [id]="theme.nid"
          [name]="theme.nid"
          [value]="theme.nid"
          (change)="themes.toggle(theme.nid)"
          [checked]="themes.isSelected(theme.nid)"
          [disableRipple]="true"
        >
          <span [innerHTML]="theme.title"></span>
          <br />
          <span class="theme-head">{{ theme.head }}</span>
        </mat-checkbox>
      </div>
    </div>
  </div>
</app-filter>
