.theme-button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 2rem;
  left: 1rem;
  z-index: 20;
  width: 20rem;
  max-width: calc(100% - 5rem);
}

app-time-slider-button,
app-theme-button {
  width: fit-content;
}

app-time-slider-button,
app-time-slider-select {
}
