<div class="map">
  <div class="map-view">
    <div id="mapbox" class="mapboxgl-map"></div>
  </div>
  <div class="map-data">
    <div class="map-data-handle"></div>
    <div class="map-data-dock" id="map_dock" *ngIf="getSelectedLocation()">
      <div class="views-element-container">
        <app-selected-item
          [locationDetails]="getSelectedLocation()"
        ></app-selected-item>
      </div>
    </div>
    <div class="map-data-near">
      <div class="pad">
        <h2>Ontdek deze buurt</h2>
        <div class="card-hold promote" id="map_near">
          <div
            class="card"
            *ngFor="
              let locationWithDistance of mapService.locationsClosestToCenter.getValue()
            "
          >
            <a
              (click)="
                mapService.selectLocationById(
                  locationWithDistance.location.nid,
                  locationWithDistance.location.url
                )
              "
              href="javascript:void(0);"
            >
              <div class="head">
                <div>
                  <div>
                    <img [src]="locationWithDistance.location.image_small" />
                  </div>
                </div>
              </div>
              <div class="core">
                <span class="type">{{
                  locationWithDistance.location.address
                }}</span
                ><span class="name">{{
                  locationWithDistance.location.title
                }}</span
                ><span class="desc">SUBTEXT</span>
                <span class="dist">{{
                  mapService.convertDistanceInKmToString(
                    locationWithDistance.distanceFromCenterInKm
                  )
                }}</span>
              </div>
            </a>
          </div>

          <!--          TODO: Refactor to use components (ignored for now as it seems to mess with the preferred DOM hierarchy for the CSS -->
          <!--          <app-nearby-item></app-nearby-item>-->
        </div>
      </div>
    </div>
  </div>
</div>
