.badge-container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.badge {
  background: var(--red);
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
