<app-map-ui-expanded
  title="{{ 'timePeriod' | translate }}"
  (close)="time.showingSelectionScreen = false"
  [maxHeight]="'none'"
  [overflowY]="'hidden'"
>
  <div class="slider-container">
    <mat-slider
      min="1600"
      max="2024"
      step="1"
      [discrete]="true"
      [displayWith]="formatLabel"
      (input)="onSliderInput($event)"
    >
      <input
        [value]="time.DEFAULT_MIN_YEAR"
        matSliderStartThumb
        (valueChange)="onMinYearChange($event)"
      />
      <input
        [value]="time.DEFAULT_MAX_YEAR"
        matSliderEndThumb
        (valueChange)="onMaxYearChange($event)"
      />
    </mat-slider>
  </div>
</app-map-ui-expanded>
