button {
  background: white;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 120ms ease;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    border-color: #888;
  }
}
