<div class="pad">
  <app-edit-button
    [nid]="story.shownStory.getValue()?.story_id"
  ></app-edit-button>

  <h2>{{ story.shownStory.getValue()?.title }}</h2>
  <p class="story-location" *ngIf="story.shownStory.getValue()?.location_title">
    {{ "location" | translate }}:
    <a (click)="onLocationLinkClicked()">{{
      story.shownStory.getValue()?.location_title
    }}</a>
  </p>
  <div class="media-container">
    <div
      class="views-element-container"
      *ngFor="let mediaItem of story.shownStoryMediaItems.getValue()"
    >
      <app-media-item [mediaItem]="mediaItem"></app-media-item>
    </div>
  </div>

  <app-feedback
    [storyId]="story.shownStory.getValue()?.story_id"
  ></app-feedback>
</div>
