@import "assets/scss/fonts";
@import "assets/scss/core";
@import "~mapbox-gl/dist/mapbox-gl.css";

// 360 photo viewer
.psv-container {
  border-radius: 8px;
}

.mdc-slider .mdc-slider__value-indicator {
  // Always show slider value indicators
  transform: scale(1) !important;
}

:root {
  --mdc-theme-primary: var(--red);

  .mdc-slider__thumb .mdc-slider__thumb-knob {
    border: 2px solid white !important;
  }
}

body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
