@import 'assets/scss/fonts';
@import 'assets/scss/core';
@import 'mapbox-gl/dist/mapbox-gl.css';

// 360 photo viewer
.psv-container {
  border-radius: 8px;
}

.mdc-slider .mdc-slider__value-indicator {
  // Always show slider value indicators
  transform: scale(1) !important;
}

:root {
  --mat-theme-primary: var(--red);
  --mat-theme-secondary: #5b5b5b;

  .mdc-slider__thumb .mdc-slider__thumb-knob {
    border: 2px solid white !important;
  }

  --mat-checkbox-state-layer-size: 30px;
  .mat-mdc-checkbox-touch-target {
    width: 30px;
    height: 30px;
  }
}

.mat-mdc-slider.mat-primary {
  --mat-slider-handle-color: white; // var(--red);
  --mat-slider-focus-handle-color: white; //var(--red);
  --mat-slider-hover-handle-color: white; //var(--red);
  --mat-slider-active-track-color: var(--red);
  --mat-slider-inactive-track-color: rgba(0, 0, 0, 0.2);
  --mat-slider-with-tick-marks-active-container-color: #fff;
  --mat-slider-with-tick-marks-inactive-container-color: white; //var(--red);
  --mat-mdc-slider-ripple-color: rgba(0, 0, 0, 0); //var(--red);
  --mat-mdc-slider-hover-ripple-color: rgba(0, 0, 0, 0); // rgba(254, 0, 62, 0.1);
  --mat-mdc-slider-focus-ripple-color: rgba(0, 0, 0, 0); // rgba(254, 0, 62, 0.1);
  --mat-slider-label-container-color: var(--red);
  --mat-mdc-slider-value-indicator-opacity: 1;
  .mdc-slider__value-indicator {
    border-radius: 2rem;
  }
}

.mat-mdc-checkbox.mat-accent {
  --mat-checkbox-selected-checkmark-color: #fff;
  --mat-checkbox-selected-focus-icon-color: black;
  --mat-checkbox-selected-hover-icon-color: black;
  --mat-checkbox-selected-icon-color: black;
  --mat-checkbox-selected-pressed-icon-color: black;
  --mat-checkbox-unselected-focus-icon-color: #212121;
  --mat-checkbox-unselected-hover-icon-color: #212121;
  --mat-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
  --mat-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
  --mat-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mat-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
}

.mdc-checkbox__ripple {
  display: none;
  background: black;
}

.mapboxgl-ctrl-group button {
  width: 35px;
  height: 35px;
}
