<app-audio-player
  [audioUrl]="utmRoutes.selectedStop?.audio"
  *ngIf="utmRoutes.selectedStop?.audio"
/>

<app-edit-button [nid]="utmRoutes.selectedStop?.id"></app-edit-button>

<h2 [innerHtml]="utmRoutes.selectedStop?.title"></h2>

<div class="media-container">
  <div *ngIf="utmRoutes.selectedStop?.stories">
    <ng-container *ngFor="let story of utmRoutes.selectedStop?.stories">
      <div class="story-head" *ngIf="true">
        <h2>{{ story.title }}</h2>
      </div>

      <app-audio-player [audioUrl]="story.audio" *ngIf="story.audio" />

      <div
        class="views-element-container"
        *ngFor="let mediaItem of story?.mediaItems; let i = index"
      >
        <app-media-item
          [mediaItem]="mediaItem"
          [showTitle]="!(i === 0 && mediaItem.title === story.title)"
          [addTopMargin]="false"
        ></app-media-item>
      </div>
    </ng-container>
  </div>
</div>

<app-feedback
  [feedbackItemId]="utmRoutes.selectedStop?.id"
  feedbackGivenText="feedbackGiven"
  feedbackQuestionText="routeStopFeedbackQuestion"
></app-feedback>
