<div>
  <div class="dock-inner" data-geo="52.087122000000, 5.042116100000">
    <app-edit-button [nid]="locationDetails?.nid"></app-edit-button>

    <div class="pad">
      <div class="node-column">
        <div>
          <div class="screen-mode" data-mobile="1">
            <h1 [innerHtml]="locationDetails?.title"></h1>
            <h3>{{ locationDetails?.address }}</h3>
          </div>
          <div class="photo-hold">
            <div class="photo">
              <div>
                <img loading="lazy" [src]="locationDetails?.image" />
              </div>
            </div>
            <div
              class="media-source"
              *ngIf="
                locationDetails?.source_link && locationDetails?.source_name
              "
            >
              <div class="views-element-container">
                <div>
                  <span *ngIf="locationDetails?.caption">{{
                    locationDetails?.caption
                  }}</span>
                  <span *ngIf="locationDetails?.source_name"
                    >Bron:
                    <a [href]="locationDetails?.source_link" target="_blank">{{
                      locationDetails?.source_name
                    }}</a></span
                  >
                  <app-license
                    [licenseLabel]="locationDetails?.license"
                  ></app-license>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="screen-mode" data-mobile="0">
            <h1 [innerHtml]="locationDetails?.title"></h1>
            <h3>{{ locationDetails?.address }}</h3>
          </div>
          <p [innerHtml]="locationDetails?.teaser"></p>
          <div class="fold" *ngIf="locationDetails?.text">
            <a
              [ngClass]="{ on: readMoreIsShown }"
              (click)="readMoreIsShown = !readMoreIsShown"
              >{{ "readMore" | translate }}</a
            >
            <div
              class="fold-toggle"
              [ngClass]="{ 'fold-toggle-hidden': !readMoreIsShown }"
              [innerHtml]="locationDetails?.text"
            ></div>
          </div>
          <div class="org-logo" *ngIf="locationHasOrganisations()">
            <div class="org-logo-head">Met bijdragen van</div>
            <div class="org-logo-hold">
              <div
                class="views-element-container"
                *ngFor="let org of locationDetails?.organisations"
              >
                <a [href]="org.link" [title]="org.title" target="_blank">
                  <img [src]="org.logo" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="views-element-container" *ngIf="locationHasStories()">
        <div class="story-head">
          <h2>{{ "storiesForLocation" | translate }}</h2>
        </div>
        <div class="story-hold">
          <div class="story" *ngFor="let story of locationDetails?.stories">
            <a
              (click)="
                router.navigateByUrl(
                  locationDetails?.url + '?story=' + story.story_url_alias
                )
              "
            >
              <div
                class="head has-video-{{
                  storyHasVideoIcon(story) ? '1' : '0'
                }}"
              >
                <div>
                  <img loading="lazy" [src]="story?.photo" />
                </div>
              </div>
              <div class="core">
                <span class="name" [innerHtml]="story.title"></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dock-story">
    <a class="dock-story-end" (click)="onCloseStoryClicked()"></a>
    <div>
      <div id="map_dock_story">
        <div class="views-element-container">
          <div>
            <div class="dock-inner story-container">
              <app-story></app-story>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
